
*.pyc
.vs/slnx.sqlite
.vs/SUMOIntersectionResearch/v15/.suo
.vs/VSWorkspaceState.json
SUMOIntersectionResearch.pyproj
SUMOIntersectionResearch.pyproj.user
SUMOIntersectionResearch.sln
output/emissionsOutput.xml
